.d-item {
  display: flex;
  text-align: center;
  color: var(--surface-0);
  justify-content: space-between;

  .pi{
    font-size: 4em;
    margin-bottom:15px;
  }

  .name {
    font-size: 1.4em;
  }

  .number {
    font-size: 3em;
    margin-top: 10px;
  }
}

.d-orders{
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.d-products{
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.d-users{
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.d-totalsales{
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
