{
  "singleQuote": true,
  "printWidth": 80,
  "semi": false,
  "trailingComma": "none",
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "quoteProps": "as-needed"
}
