<div class="admin-page">
  <p-card header="Dashboard" subheader="Latest update">
    <div class="grid">
      <div class="col-3">
        <p-card styleClass="d-orders">
          <div class="d-item">
            <div>
              <i class="pi pi-shopping-cart"></i>
              <span class="name"> Orders</span>
            </div>
            <span class="number"> {{ orderCount }}</span>
          </div>
        </p-card>
      </div>

      <div class="col-3">
        <p-card styleClass="d-products">
          <div class="d-item">
            <div>
              <i class="pi pi-briefcase"></i>
              <span class="name"> Products</span>
            </div>
            <span class="number"> {{ countProducts }}</span>
          </div>
        </p-card>
      </div>

      <div class="col-3">
        <p-card styleClass="d-users">
          <div class="d-item">
            <div>
              <i class="pi pi-users"></i>
              <span class="name"> Users</span>
            </div>
            <span class="number"> {{ countUsers }}</span>
          </div>
        </p-card>
      </div>

      <div class="col-3">
        <p-card styleClass="d-totalsales">
          <div class="d-item">
            <div>
              <i class="pi pi-dolar"></i>
              <span class="name"> Total Sales</span>
            </div>
            <span class="number"> {{ totalSales | currency }}</span>
          </div>
        </p-card>
      </div>
    </div>
  </p-card>
</div>
